<%= simple_form_for(resource, html: { class: 'form-horizontal' }) do |f| %>
  <div class="col-md-7">
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :author %>
      <%= f.input :category, collection: News::CATEGORIES %>
      <div class="form-group text optional news_source_content">
        <%= f.label :source_content, class: 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <div class="editormd" id="editormd">
            <%= f.input_field :raw_source_content, class: 'editormd-markdown-textarea hidden' %>
            <%= f.input_field :source_content, class: 'editormd-html-textarea hidden' %>
          </div>
        </div>
      </div>
      <%= f.input :source_url %>
      <%= f.input :thumbnail_image %>
      <%= f.input :thumbnail_url %>
    </div>

    <div class="form-actions pull-right">
      <%= f.button :submit %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  var $container = $("body > .container"),
      $editormd = $("#editormd");

  var width = $container.offset().left + $container.width() - $editormd.offset().left;

  var editor = editormd("editormd", {
    width: width,
    height: 480,
    path: "/editormd/lib/",
    htmlDecode: true,
    saveHTMLToTextarea: true,
    previewCodeHighlight: false,
    imageUpload: true,
    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
    imageUploadURL: "/editormd/images",
    placeholder: "您可以使用Markdown编辑新闻内容...",
    toolbarIcons: [
        "undo", "redo", "|",
        "bold", "del", "italic", "quote", "|",
        "h1", "h2", "h3", "|",
        // "h4", "h5", "h6", "|",
        "list-ul", "list-ol", "|",
        "link", "reference-link", "image", "table", "hr", "datetime", "html-entities", "|",
        "watch", "preview", "fullscreen", "|",
        "help", "info"
    ],
    // toolbarIconsClass: {
    //   h4: "fa-align-left",
    //   h5: "fa-align-center",
    //   h6: "fa-align-right"
    // },
    // lang: {
    //   toolbar: {
    //     h4: "左对齐",
    //     h5: "居中",
    //     h6: "右对齐"
    //   }
    // },
  });

  $(window).resize(function() {
    var width = $container.offset().left + $container.width() - $editormd.offset().left;
    $editormd.width(width);
  });
</script>

<style type="text/css">
  .fa-align-left, .fa-align-center, .fa-align-right {
    font-size: 0;
  }

  .fa-align-left::before, .fa-align-center::before, .fa-align-right::before {
    font-size: 14px;
  }
</style>
