<% @category = params[:category] %>
<% @resources = @resources.where(category: @category) if @category %>
<% def nav_item title, key = nil
  content_tag :li, @category == key && { class: 'active' } do
    link_to(title,  news_index_path(key && { category: key}))
  end
end %>

<h2 class="page-header">
  新闻管理
</h2>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <%= nav_item "全部类别" %>
      <% News::CATEGORIES.each do |title, key| %>
        <%= nav_item title, key %>
      <% end %>
      <li class="divider"></li>
      <li><%= link_to("新建新闻", new_news_path) %></li>
    </ul>
  </div>

  <div class="col-md-9 data-table">
    <%= wice_index_for @resources, class: "table table-striped table-hover" do |i| %>
      <%= i.attribute :id %>
      <%= i.attribute :title, searchable: true %>
      <%= i.attribute :author, searchable: true %>
      <%= i.attribute :created_at, format: :short %>
      <%= i.attribute :updated_at, format: :short %>
      <%= i.actions do |a| %>
        <%= a.action_link :show do %>
          <%= link_to "预览", i.object.source(request), class: "action_show action", target: "_blank" %>
        <% end %>
        <%= a.action_link :edit %>
        <%= a.action_link :destroy %>
      <% end %>
    <% end %>

  </div>
</div>
