<!DOCTYPE html>
<html>
  <head>
    <title><%= @resource.title %></title>
    <%= stylesheet_link_tag "preview" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="markdown-body">
    <h1 class="title"><%= @resource.title %></h1>
    <div class="meta-data">
      <span><%= l @resource.created_at, format: :date %></span>
      <span><%= @resource.author %></span>
    </div>

    <div class="content">
      <%= raw @resource.source_content %>
    </div>
  </body>
</html>
