<!DOCTYPE html>
<html>
  <head>
    <title><%= @resource.title %></title>
    <style type="text/css">
      .wechat-content h2 {
        margin-bottom: 5px;
      }
      .wechat-content .message-meta-data {
        color: grey;
      }
      .wechat-content .message-content {
        margin-top: 10px;
      }
      img {
        display: block;
        width: 100%;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wechat-content">
      <h2><%= @resource.title %></h2>
      <div class="message-meta-data">
        <span><%= l @resource.created_at, format: :long %></span>
        <span><%= @resource.author %></span>
      </div>

      <div class="message-content">
        <%= raw @resource.source_content %>
      </div>
    </div>
  </body>
</html>
